/* Pengaturan border-collapse jenis,ukuran serta warna huruf secara keseluruhan tabel */
table{
    border-collapse:collapse;
    font:normal normal 12px Verdana,Arial,Sans-Serif;
    color:#000000;
  }
  /* Mengatur warna latar, warna teks, ukruan font dan jenis bold (tebal) pada header tabel */
  table th {
    background:#000000;
    color:#DCDCDC;
    font-weight:bold;
    font: size 14px;
  }
  /* Mengatur border dan jarak/ruang pada kolom */
  table th,
  table td {
    vertical-align:center;
    padding:15px 15px;
    border:5px solid #0202020c;
  }
  /* Mengatur warna baris */
  table tr {
    background:#F5FFFA;
  }
  /* Mengatur warna baris genap (akan menghasilkan warna selang seling pada baris tabel) */
  table tr:nth-child(even) {
    background: #f0f1f0FF;
  }
    
  
   
  
  *{
    margin: 0;
  }
  
  .header{
    width: 100%;
    height: 100px;
    background-color: #ece9e965;
  }
  
  .header h1{
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: left;
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family: fantasy;
  }
  
  .link{
    background-color:rgba(255, 255, 255, 0.336);
    color:rgba(0, 0, 0, 0.493);
    border:solid;
    padding:20px 10px px 10px;
   position: relative;
   left: 1px;
   width: 200px;
  height: 200px;
   }